@font-face {
    font-family: "paragraphe";
    src: url("../fonts/Garamond-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: "Code reg";
    src: url("../fonts/coolvetica\ rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Code light";
    src: url("../fonts/coolvetica\ rg.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}